{% extends "base.html" %}
{% load static blogpost %}

{% block meta_title %}
    {{ object.meta_title }}
{% endblock %}

{% block meta_keywords %}
    {{ object.meta_keywords }}
{% endblock %}

{% block meta_description %}
    {{ object.meta_description }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12"><h1>{{ object.header }}</h1></div>
        <div class="col-12 text-muted">{{ object.da|date:'d.m.Y' }}</div>
        <div class="col-12">{{ object.content|safe }}</div>
        <div class="col-12">{% tags_list active=active_tag tags=object.tags.all %}</div>
        <div class="col-12 text-center"><img src="{% get_media_prefix %}{{ object.image }}" class="img-fluid" /></div>
    </div>

    {% last_post object.pk %}
{% endblock %}