{% load static i18n blogpost %}

{% block content %}

    <div class="row blog-post-item mt-5">
        <div class="col-12 mt-1"><h2 class="text-capitalize">{{ object.header }}</h2></div>
        <div class="col-12 mt-1 text-muted">{{ object.da|date:'d.m.Y' }}</div>
        <div class="col-12 mt-1 text-center">
            <img class="img-fluid" src="{% get_media_prefix %}{{ object.image }}" alt="{{ object.header }}" />
        </div>
        <div class="col-12 mt-1">{{ object.short_content|safe }}</div>
        <div class="col-12 mt-1">
            <a href="{{ object.get_absolute_url }}" class="btn btn-primary">{% trans "More" %}...</a>
        </div>
    </div>

{% endblock %}