{% extends "base.html" %}
{% load i18n blogpost %}

{% block content %}
    <h1>{% trans "Blog" %} {% if category %}- {{ category.name }}{% endif %}</h1>

    {% if category %}
        <blockquote class="blockquote">{{ category.content }}</blockquote>
    {% endif %}

    {% if object_list %}
        {% for object in object_list %}
            {% if forloop.counter|divisibleby:"2" %}
                {% blogpost_list_item object %}
            {% else %}
                {% blogpost_list_item object %}
            {% endif %}
        {% endfor %}

        {% if paginator.num_pages > 1 %}
            <nav class="mt-5">
                <ul class="pagination justify-content-center">
                    <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                        <a
                            class="page-link"
                            href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"
                            {% if not page_obj.has_previous %}disable{% endif %}>
                            <i class="fa fa-angle-double-left"></i>
                        </a>
                    </li>
                    <li class="page-item">
                        <span class="page-link">
                            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}
                        </span>
                    </li>
                    <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                        <a
                            class="page-link"
                            href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"
                            {% if not page_obj.has_next %}disabled{% endif %}>
                            <i class="fa fa-angle-double-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>{% trans "No posts yet.." %}</p>
    {% endif %}

{% endblock %}