{% extends "base.html" %}
{% load i18n blogpost %}

{% block content %}
    
    {% if object_list %}
        {% for object in object_list %}
            {% blogpost_list_item object %}
        {% endfor %}

        {% if paginator.num_pages > 1 %}
            <div class="pagination">
                <a
                    href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"
                    class="pagination-arrow-left {% if not page_obj.has_previous %}disable{% endif %}"
                    {% if not page_obj.has_previous %}disable{% endif %}>
                        &lsaquo;
                </a>

                <span class="pagination-pages-text">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }} </span>

                <a
                    href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"
                    class="pagination-arrow-right {% if not page_obj.has_next %}disable{% endif %}"
                    {% if not page_obj.has_next %}disabled{% endif %}>
                    &rsaquo;
                </a>
            </div>
        {% endif %}
    {% else %}
        <p>{% trans "No posts yet.." %}</p>
    {% endif %}

{% endblock %}