{% load static i18n %}

{% block content %}

    {% if position = "right" %}

        <div class="row blog-post-item">
            <div class="col-md-5">
                <h2>{{ object.header }}</h2>
                <p class="lead">{{ object.short_content|safe }}</p>
                <a href="{{ object.get_absolute_url }}" class="btn btn-primary">{% trans "More" %}...</a>
            </div>
            <div class="col-md-7">
                <img class="img-responsive center-block" src="{% get_media_prefix %}{{ object.image }}" />
            </div>
        </div>

    {% else %}

        <div class="row blog-post-item">
            <div class="col-md-7">
                <h2>{{ object.header }}</h2>
                <p class="lead">{{ object.short_content|safe }}</p>
                <a href="{{ object.get_absolute_url }}" class="btn btn-primary">{% trans "More" %}...</a>
            </div>
            <div class="col-md-5">
                <img class="img-responsive center-block" src="{% get_media_prefix %}{{ object.image }}" />
            </div>
        </div>

    {% endif %}

{% endblock %}