{% extends "base.html" %}
{% load i18n blogpost %}

{% block header %}{% trans "Blog" %} {% if category %}- {{ category.name }}{% endif %}{% endblock %}

{% block content %}
    {% categories_list active_category %}

    {% if category %}
        {{ category.content }}
    {% endif %}
    
    {% if object_list %}
        {% for object in object_list %}
            {% if forloop.counter|divisibleby:"2" %}
                {% blogpost_list_item object 'left' %}
            {% else %}
                {% blogpost_list_item object 'right' %}
            {% endif %}
        {% endfor %}

        {% if paginator.num_pages > 1 %}
            <nav class="text-center">
                <ul class="pagination">
                    <li class="{% if not page_obj.has_previous %}disabled{% endif %}">
                        <a
                            href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}"
                            class="pagination-arrow-left"
                            {% if not page_obj.has_previous %}disable{% endif %}>
                                &lsaquo;
                        </a>
                    </li>
                    <li class="disabled">
                        <span class="pagination-pages-text">{% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }} </span>
                    </li>
                    <li class="{% if not page_obj.has_next %}disabled{% endif %}">
                        <a
                            href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}"
                            class="pagination-arrow-right"
                            {% if not page_obj.has_next %}disabled{% endif %}>
                            &rsaquo;
                        </a>
                    </li>
                </ul>
            </nav>
        {% endif %}
    {% else %}
        <p>{% trans "No posts yet.." %}</p>
    {% endif %}

{% endblock %}